<template>
  <div class="sidebar bg-primary text-white">
    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="@/assets/profile.jpg" alt="" />

    <div class="w-75 mx-auto">
      <hr class="mt-4">
      <h5>Contact</h5>
      <p><small><b-icon-mailbox class="text-orange mr-3"></b-icon-mailbox> tanasit.niyomsat@gmail.com</small></p>
      <p><small><b-icon-telephone class="text-orange mr-3"></b-icon-telephone> +66(0)825629666</small></p>
      <p><small><b-icon-cursor class="text-orange mr-3"></b-icon-cursor> Bang Sue, Bangkok</small></p>

      <h5 class="mt-5">Skills</h5>
      <ul>
        <li><small>HTML, CSS, SCSS, Bootstap</small></li>
        <li><small>Javascript, Jquery, Typescript, React, VueJS</small></li>
        <li><small>PHP, MySQL, JSON, Python</small></li>
        <li><small>Services API, NodeJS, Docker</small></li>
        <li><small>Swift, Kotlin</small></li>
      </ul>

      <hr class="mt-5">
      <h5>Tools</h5>
      <ul>
        <li><small>Mac OS, Terminal</small></li>
        <li><small>Visual Studio Code</small></li>
        <li><small>Android Studio, Xcode</small></li>
        <li><small>Git version control</small></li>
        <li><small>Photoshop, illustrator, Zeplin</small></li>
        <li><small>Agile, Scrum team</small></li>
      </ul>

      <hr class="mt-5">
      <h5>Languages</h5>
      <ul>
        <li><small>Thai(Native)</small></li>
        <li><small>English(Limited Working)</small></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Sidebar'
}
</script>

<style lang="scss">
hr {
  border-top: .5px solid rgba(255, 255, 255, .2);
}

ul {
  padding-inline-start: 17px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 272px;
  min-height: 100vh;
  padding-top: 56px;
  padding-bottom: 27rem;
  float: left;
}

.img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

.w-75 {
  width: 75%;
}

.text-orange {
  color: #EF7C17
}
</style>
