<template>
  <div id="app">
    <div class="wrapper">
      <div id="nav">
        <b-navbar toggleable="lg" type="dark" variant="info">
          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item><router-link to="/">Home</router-link></b-nav-item>
              <b-nav-item><router-link to="/about">About</router-link></b-nav-item>
              <b-nav-item><router-link to="/findnumber">FindNumber</router-link></b-nav-item>
              <b-nav-item><router-link to="/findvalue">FindValue</router-link></b-nav-item>
              <b-nav-item><router-link to="/mapsdirection">GoolgeMaps</router-link></b-nav-item>
              <b-nav-item><router-link to="/linebot">LineBot</router-link></b-nav-item>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>

      </div>

      <!-- <b-container class="mt-5"> -->
        <router-view/>
      <!-- </b-container> -->
    </div>

    <div class="footer">
      <b-container>
        <b-row>
          <b-col>Copyright © 2020</b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/custom.scss';

#app {
  position: relative;
  min-height: 100vh;
}

.wrapper {
    padding-bottom: 3.5rem;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
}
</style>
